.logo{
    height: 45px;
    width: auto;
}
.row1{
    height: 200px;
    background-color: white;
}
.inicio{
    height: 100vh;
    background-size: cover;
    background-image: url(../img/HeadCAKE_1920x925.png);
}
.inicio-titulo{
    color: white;
    margin-top: 40%;
}

footer{
background-color: white;
color: black;
padding: 40px;
text-align: center;
}
.social-icons{
margin-top: 10px;
color: black;
}
.social-icons a{
font-size: 1.5em;
margin: 0 10px;
color: black;
}
.social-icons a:hover{
color: black;
}